@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

:root {
  --main-bg-color: #15202B;
  --main-bg-orange-color: #ff7a00;
  --main-bg-white-color: #e2e2e2;
  --main-bg-test1-color: #1e2732;
  --main-bg-test2-color: #8A98A5;
}


* {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

::selection {
  background-color: var(--main-bg-orange-color);
  color: white;
}

body,
.bg-white {
  background-color: var(--main-bg-white-color) !important;
}

.bg-main {
  background-color: var(--main-bg-color) !important;
}

.bg-orange {
  background-color: var(--main-bg-orange-color) !important;
}

.btn-bg-orange:hover {

  background-color: #fa912e !important;
}

.bg-secondaire-main {
  background-color: var(--main-bg-test1-color) !important;
}

/**
  TAB LIST
*/

.tab-list .nav-link {
  color: var(--main-bg-orange-color) !important;
}

.tab-list .nav-link.active {
  color: var(--main-bg-color) !important;
}

/**
BTN SECONDAIRE ORANGE
*/

.btn-orange-outline {
  border-color: var(--main-bg-orange-color) !important;
  color: var(--main-bg-orange-color) !important;
}

.btn-orange-outline:hover {
  background-color: var(--main-bg-orange-color) !important;
  color: white !important;
}

/**
BORDER COLOR
*/

.border-main-orange {
  border-bottom: 3px solid var(--main-bg-orange-color);
}

/*
* TEXT COLOR
**/

.p-color-orange {
  color: var(--main-bg-orange-color) !important;
}


/**
frameAccount
*/

.frameUserGlobal a:hover {
  color: var(--main-bg-color);
}

.frameAccount {
  border-bottom: 2px solid rgba(0, 0, 0, 0);
  color: var(--main-bg-test1-color);
  transition: all 0.4s;
}

.frameAccount:hover {
  border-bottom: 2px solid var(--main-bg-orange-color);
  cursor: pointer;
  transition: all 0.4s;

}

.frameAccount:hover .frameIcon {

  color: var(--main-bg-orange-color);
}


/*----------------------------------------------------*/

.productViewImageFrame {
  height: 500px;
  width: 400px;
}

.productViewImage {
  max-width: 100%;
  max-height: 100%;
  margin-left: auto;
  display: block;
  border: 1px solid gray;

}